<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% if APP_ENV == 'development' %}
            <!-- during dev: load from Vite dev server -->
            <script type="module" src="http://code:3000/@vite/client"></script>
            <script type="module" src="http://code:3000/main.jsx"></script>
        {% else %}
            <!-- in production: load built file -->
            <script type="module" src="/assets/js/{{ mainJs }}"></script>
        {% endif %}
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
<body>
    <div id="root"></div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% block includes %}{% endblock %}
    <footer>
        {{ APP_ENV }}
    </footer>
</body>
</html>