<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
<body>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
    {% block includes %}{% endblock %}
</body>
</html>